@{
    ViewData["Title"] = "Admin Page";
}

<div class="d-flex flex-column align-items-center gap-3">
    <div class="text-center me-3">
        <h1 class="display-4">Welcome Admin</h1>
    </div>

    <a type="button" class="btn btn-primary text-center w-25" asp-action="LogOut" asp-controller="Account">
        Logout
    </a>
</div>
